

/* Labels should be above field names, not beside them. */
label {
	display: block;
}


/* Dropdown and text boxes are way too wide by default. */
.splFormSearch .ExtendedFieldSearch,
.splFormSearch .SearchSelectLister {
	min-width: 100px;
	margin: 0;
        vertical-align: top;
        display: block;
        float: left;
        line-height: 25px;
        padding:5px 0 0 10px;
        height: 64px;
}

/* Push the latter two dropdowns down slighty; make them even with the others */
.StaticSelect {
	margin-top: 4px;
        vertical-align: top;
        display: block;
        float: left;
        line-height: 25px;
        padding:5px 0 0 10px;
        height: 64px;
}


.splFormSearch .ExtendedFieldSearch input,
.splFormSearch .SearchSelectLister select {
	min-width: 0px;
}


/* Reformat and set padding to align the buttons better */
.splFormSearch .TimeRangePicker {
	float: left;
	clear: none;

	display: block;
	line-height: 25px;
	padding: 35px 0 0 20px;
	margin: 0px;
	width: 170px

	/* height: 64px; */
	/*
        border: solid black 1px;
        outline: solid black 1px;
	*/
}


.SubmitButton .splButton-primary,
.SubmitButton .splButton-secondary {
	display: block;
}

#SubmitButton_0_11_0 {
	float: left;
	clear: none;
	padding: 35px 0 0 10px;
	display: block;
	line-height: 25px;
	margin: 0px;
	width: 134px;
	/*
        border: solid black 1px;
        outline: solid black 1px;
	*/
}

